<form id="login" method="post">
  <input type="email" name="email" value="" placeholder="Tu email">
  <br><br>
  <input type="password" name="password" value="" placeholder="Tu password">
  <br><br>
  <input type="submit" name="" value="login">
</form>

<script type="text/javascript">
  const formLogin = document.querySelector('#login')
  const formData = new FormData(formLogin)

  formLogin.addEventListener('submit', event => {
    event.preventDefault()
    fetch('/api/sigin', {
      method: 'POST',
      body: FormData
    })
    .then(res => res.json())
    .then(data => console.log(data))
  })
</script>
